<p id="notice"><%= notice %></p>

<h1>Listing Subject Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Subject category type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_categories.each do |subject_category| %>
      <tr>
        <td><%= subject_category.name %></td>
        <td><%= subject_category.description %></td>
        <td><%= subject_category.subject_category_type %></td>
        <td><%= link_to 'Show', subject_category %></td>
        <td><%= link_to 'Edit', edit_subject_category_path(subject_category) %></td>
        <td><%= link_to 'Destroy', subject_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject category', new_subject_category_path %>
