<p id="notice"><%= notice %></p>

<h1>Listing Subjects</h1>
<%= link_to 'New Subject', new_subject_path %>
<table>
  <thead>
    <tr>
      <th>Subject type</th>
      <th>Parent subject</th> 
      <th>Name</th>
      <th>Description</th>
      

    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_type %></td>
        <td><%= display_name(subject.parent_subject) %></td>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.description %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


