<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Parent subject:</strong>
  <%= display_name(@subject.parent_subject) %>
</p>


<p>
  <strong>Subject type:</strong>
  <%= @subject.subject_type %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
<%= link_to 'Destroy', @subject, method: :delete, data: { confirm: 'Are you sure?' } %>