<p id="notice"><%= notice %></p>

<h1><%= @subject.name %></h1>
<%= link_to "New", new_subject_entry_item_line_path(@subject) %>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>用途</th>
      <th>相手科目</th>
      <%=raw display_subject_two_column_headers(@subject) %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_item_lines.each do |line| %>
      <tr>
        <td><%= line.entry_item.entry_date %></td>
        <td><%= line.entry_item.explanation %></td>
        <td><%= line.subject.name %></td>
        <%=raw display_subject_amount_in_two_cells @subject,number_to_currency(line.amount, :locale => 'jp'), line.direction == '借' %>
        <td><%= link_to "Edit", edit_subject_entry_item_line_path(line,:subject_id=>@subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '総勘定一覧', subjects_path() %>






