<p id="notice"><%= notice %></p>

<h1><%= @subject.name %></h1>
<%= link_to "New", new_subject_entry_item_path(@subject) %>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>用途</th>
      <th>相手科目</th>
      <th><%=@subject.header_at_credit %></th>
      <th><%=@subject.header_at_debit %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_items.each do |item| %>
      <tr>
        <td><%= item.entry_date %></td>
        <td><%= item.explanation %></td>
        <% if @subject == item.credit_subject %>
          <td><%= item.debit_subject.display_path %></td>
        <%else%>
          <td><%= item.credit_subject.display_path %></td>
        <%end%>
        
        <td><%= number_to_currency(item.credit_amount_for(@subject), :locale => 'jp')%></td>
        <td><%= number_to_currency(item.debit_amount_for(@subject), :locale => 'jp')%></td>
        <td><%= link_to "Edit", edit_subject_entry_item_path(item,:subject_id=>@subject) %></td>
        <td><%= link_to 'Destroy', subject_entry_item_path(item,:subject_id=>@subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '総勘定一覧', subjects_path() %>






