<h1><%= @subject.name %></h1>
<%= link_to "New", new_subject_entry_item_path(@subject) %>
<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>用途</th>
      <th>相手科目</th>
      <%if @subject.subject_type == "流動資産"%>
          <th>入金</th>
          <th>出金</th>
      <%elsif @subject.subject_type == "支出"%>
          <th>費用</th>
          <th>割引</th>
      <%elsif @subject.subject_type == "収入"%>
          <th>割引</th>
          <th>収入</th>
      <%else%>
          <% raise "wrong subject type"%>
      <%end%>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_item_lines.each do |line| %>
      <tr>
        <td><%= line.entry_item.entry_date %></td>
        <td><%= line.entry_item.explanation %></td>
        <td><%= line.subject.name %></td>

        <%if @subject.subject_type == "流動資産" or @subject.subject_type == "支出"%>
          <%if line.direction == '借' %>
              <td>0</td>
              <td><%= line.amount %></td>           
          <%else%>
              <td><%= line.amount %></td>
              <td>0</td>
          <%end%>
        <%elsif @subject.subject_type == "収入"%>
          <%if line.direction == '借' %>
              <td><%= line.amount %></td>
              <td>0</td>
          <%else%>
             <td>0</td>
              <td><%= line.amount %></td>
          <%end%>
        <%else%>
            <% raise "wrong subject type"%>
        <%end%> 

        <td><%= link_to "Edit", edit_subject_entry_item_path(line,:subject_id=>@subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






