<p id="notice"><%= notice %></p>

<h1>Listing Entry Items</h1>

<table>
  <thead>
    <tr>
      <th>Entry date</th>
      <th>Explanation</th>
      <th>Credit subject</th>
      <th>Credit amount</th>
      <th>Debit subject</th>
      <th>Debit amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_items.each do |entry_item| %>
      <tr>
        <td><%= entry_item.entry_date %></td>
        <td><%= entry_item.explanation %></td>
        <td><%= entry_item.credit_subject %></td>
        <td><%= entry_item.credit_amount %></td>
        <td><%= entry_item.debit_subject %></td>
        <td><%= entry_item.debit_amount %></td>
        <td><%= link_to 'Show', entry_item %></td>
        <td><%= link_to 'Edit', edit_entry_item_path(entry_item) %></td>
        <td><%= link_to 'Destroy', entry_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry item', new_entry_item_path %>
