<p id="notice"><%= notice %></p>

<p>
  <strong>Entry date:</strong>
  <%= @entry_item.entry_date %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @entry_item.explanation %>
</p>

<p>
  <strong>Credit subject:</strong>
  <%= @entry_item.credit_subject %>
</p>



<p>
  <strong>Debit subject:</strong>
  <%= @entry_item.debit_subject %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry_item.amount %>
</p>


